--extra-index-url=https://www.piwheels.org/simple
tmodbus[async-serial] == 0.6.2
tornado == 6.3.3
tornado-jsonrpc2 == 0.5
jsonschema == 2.6.0
pyyaml == 6.0.1
anyio >= 3
asyncowfs@git+https://github.com/UnipiTechnology/asyncowfs
