<div data-role="page" id="page-edit-device-di" data-quicklinks="true">
    <div data-role="header" data-id="pageHeader" data-position="fixed">
        <a href="#page-overview" data-theme="a" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-left">Back</a>
        <h2>UniPi control panel</h2>
    </div>
    <div data-role="tabs">
        <div data-role="navbar">
            <ul>
                <li>Configuring Digital Input 1</li>
            </ul>
        </div>

        <div data-role="ui-content">
            <div id="div_config" class="ui-content">
                <ul class="tablist-content" data-role="listview" id="ul_config">
                    <li data-role="list-divider" data-theme="a" id="webname-ul">Webname</li>
                    <li data-role="list-divider" data-theme="a" id="unipi_ai_divider">Staticfiles</li>
                    <li data-role="list-divider" data-theme="a" id="unipi_temp_divider">Port</li>
                </ul>
            </div>
            <!-- /div_config -->

            <div id="div_services" class="ui-content">
                <ul data-role="listview" id="ul_services">
                    <li data-role="list-divider" data-theme="a">Wireless</li>
                </ul>
            </div>
            <!-- /div_services -->
        </div>
        <!-- /content -->
    </div>
    <!-- /tabs -->
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
        <h1>UniPi.technology</h1>
    </div>
    <!-- /footer -->
</div>
<!-- /digital input -->