<div data-role="page" id="page-login" data-quicklinks="true" data-dialog="true">
    <div data-role="header" data-id="pageHeader" data-position="fixed">
        <h2>Login</h2>
    </div>
    <div class="ui-content" role="main">
        <!--
        <label for="usename">Username</label>
        <input type="text" name="usename" id="usename" value="">
        -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">
        <!--
        <fieldset data-role="controlgroup">
            <input type="checkbox" name="chck-rememberme" id="chck-rememberme" checked="">
            <label for="chck-rememberme">Remember me</label>
        </fieldset>
        -->
        <a href="#dlg-invalid-credentials" data-rel="popup" data-transition="pop" data-position-to="window" id="btn-submit" class="ui-btn ui-btn-b ui-corner-all mc-top-margin-1-5">Submit</a>
    </div>
    <!-- /tabs -->
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
        <h1>UniPi.technology</h1>
    </div>
    <!-- /footer -->
</div>
<!-- /login page -->