<script id="template-edit-device-button" type="text/x-jQuery-tmpl">
    <a href="#page-edit-device-${devtype}" onclick="loadEditPageData('${devtype}','${circuit}');" data-device-id="${circuit}" data-role="button" id="btn-edit-device" class="ui-btn ui-btn-a ui-corner-all ui-icon-edit ui-btn-icon-left">Edit ${devtype} ${circuit}</a>
</script>

<script id="template-device-edit-page" type="text/x-jQuery-tmpl">
    <div data-role="page" id="page-edit-device-${shortcut}" data-quicklinks="true">
        <div data-role="header" data-id="pageHeader" data-position="fixed" class="cmax8">
            <a href="#page-settings" data-theme="a" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-left">Back</a>
            <h2>UniPi Evok config</h2>
        </div>
        <div data-role="main" class="cmax8 ui-content">
            <div data-role="navbar">
                <ul>
                    <li><a href="#div_config" data-theme="a" data-ajax="false" class="ui-btn-active"  class="ui-disabled">${name}</a></li>
                </ul>
            </div>
            <div class="ui-content">
                <form id="edit-${shortcut}-form" autocomplete="off" data-ajax="false">
                    <div data-edit="edit-${shortcut}">
                        {{each params}}
                        <div class="ui-field-contain">
                            <label for="edit_${shortcut}_${variable}">${label}</label>
                            {{if type == "text"}}
                                <input type="text" id="edit_${shortcut}_${variable}" data-edit="${shortcut}" data-save="${variable}" value=""/>
                            {{/if}}
                            {{if type == "select"}}
                                <select id="edit_${shortcut}_${variable}" data-edit="${shortcut}" data-save="${variable}" onchange="" data-shadow="false" data-mini="true">
                                {{each values}}
                                    <option value="${name}">${text}</option>
                                {{/each}}
                                </select>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="ui-field-contain ui-grid-a">
                        <div class="ui-block-a">
                            <a id="edit-${shortcut}-cancel" data-direction="reverse" data-role="button" href="#page-settings" class="ui-btn ui-icon-back ui-btn-icon-left" role="button">Cancel</a>
                        </div>
                        <div class="ui-block-b">
                            <a id="edit-${shortcut}-save" data-role="button" onclick="saveConfig('${shortcut}'); return false;" class="ui-btn ui-btn-b ui-icon-check ui-btn-icon-left" role="button">Save</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /content -->
        </div>
        <!-- /tabs -->
        <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
            <h1>UniPi.technology</h1>
        </div>
        <!-- /footer -->
    </div>
</script>

<script id="template-system-page" type="text/x-jQuery-tmpl">
    <div id="tab-system-${shortcut}" data-role="collapsible">
        <h3>${name}</h3>
        <div class="ui-content">
        <form id="edit-${shortcut}-form" autocomplete="off" data-ajax="false">
            <div data-edit="edit-${shortcut}">
                {{each params}}
                <div class="ui-field-contain">
                    <label for="edit_${shortcut}_${variable}">${label}</label>
                    {{if type == "text"}}
                    <input type="text" id="edit_${shortcut}_${variable}" data-edit="${shortcut}" data-save="${variable}" value=""/>
                    {{/if}}
                    {{if type == "select"}}
                        <select id="edit_${shortcut}_${variable}" data-edit="${shortcut}" data-save="${variable}" onchange="" data-shadow="false" data-mini="true">
                        {{each values}}
                            <option value="${name}">${text}</option>
                        {{/each}}
                        </select>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div class="ui-field-contain ui-grid-a">
                <div class="ui-block-a">
                    <a id="edit-${shortcut}-cancel" data-direction="reverse" data-role="button" href="#page-settings" class="ui-btn ui-icon-back ui-btn-icon-left" role="button">Cancel</a>
                </div>
                <div class="ui-block-b">
                    <a id="edit-${shortcut}-save" data-role="button" onclick="saveConfig('${shortcut}'); return false;" class="ui-btn ui-btn-b ui-icon-check ui-btn-icon-left" role="button">Save</a>
                </div>
            </div>
        </form>
        </div>
        <!-- /content -->
    </div>
</script>
