[Unit]
Description=Evok Modbus/Websocket/Rpc Server
#Requires=neurontcp.service
After=neurontcp.service
After=unipitcp.service
After=pigpio.service

[Service]
Type=simple
ExecStart=/opt/evok/bin/python /opt/evok/lib/python2.7/site-packages/evok.py
StartLimitIntervalSec=300
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=evok
StandardOutput=null
WorkingDirectory=/opt/evok

Restart=always

[Install]
WantedBy=multi-user.target
