[Unit]
Description=EVOK ModBus/WebSocket/RPC Server
Before=nginx.service
Conflicts=mervisrt.service
Conflicts=mervisconfigtool.service
After=neurontcp.service
After=unipitcp.service
After=pigpio.service
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStartPre=-/bin/cp -f /etc/nginx/sites-available/evok /etc/nginx/sites-enabled/
ExecStartPre=-/bin/mv -f /etc/nginx/sites-enabled/mervis /etc/nginx/sites-available/
ExecStartPre=-/bin/rm -f /etc/nginx/sites-enabled/mervis
ExecStartPre=-/bin/ln -sf /etc/nginx/sites-enabled/evok /etc/evok-nginx.conf
ExecStart=/opt/evok/bin/python /opt/evok/lib/python2.7/site-packages/evok/evok.py
ExecStopPost=-/bin/rm -f /etc/evok-nginx.conf
ExecStopPost=-/bin/mv -f /etc/nginx/sites-enabled/evok /etc/nginx/sites-available/
ExecStopPost=-/bin/cp -f /etc/nginx/sites-available/mervis /etc/nginx/sites-enabled/
ExecStopPost=-/bin/rm -f /etc/nginx/sites-enabled/evok
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=evok
StandardOutput=null
WorkingDirectory=/opt/evok

Restart=always

[Install]
WantedBy=multi-user.target
