Source: evok
Section: python
Priority: optional
Maintainer: Martin Triska <triska@unipi.technology>
Build-Depends: debhelper-compat (= 13), dh-python, debhelper (>= 13), python3-all, python3.11-dev, dh-virtualenv (>= 1.2), dh-exec
Standards-Version: 3.9.5
Homepage: http://www.unipi.technology
Vcs-Git: https://github.com/UniPiTechnology/evok.git
Vcs-Browser: https://github.com/UniPiTechnology/evok/

Package: evok
Architecture: any
Depends: python3, ${misc:Depends}
Recommends: owserver, unipi-os-configurator, unipi-modbus-tools, unipi-one
Description: UniPi API based on the Tornado webserver

