Source: evok
Section: python
Priority: optional
Maintainer: Tomas Knot <knot@unipi.technology>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8), dh-exec
Standards-Version: 3.9.5
Homepage: http://www.unipi.technology
Vcs-Git: https://github.com/UniPiTechnology/evok.git
Vcs-Browser: https://github.com/UniPiTechnology/evok/

Package: evok
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7 | python2.6, python-ow, nginx, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, unipi-common, unipi-modbus-tools
Description: UniPi API based on the Tornado webserver

