[Unit]
Description=EVOK ModBus/WebSocket/RPC Server
After=unipitcp.service
After=unipi-one.service
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/opt/evok/bin/evok
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=evok
StandardOutput=null
WorkingDirectory=/opt/evok
User=evok
Restart=always

[Install]
WantedBy=multi-user.target
