#!/bin/sh

set -e

# Post-inst maintainer script of Evok package
# See Readme of the package for info about licensing.
# Maintainer: martyy <triska@unipi.technology>

# Source debconf library.
. /usr/share/debconf/confmodule

db_settitle evok/title

# -----------------------------------------------------------------------------
# ---- Issue No. 1 - default Nginx server on TCP port 80 conflict
# -----------------------------------------------------------------------------

DEFAULT_MERVIS_SITE="/etc/nginx/sites-enabled/mervis"
DEFAULT_EVOK_SITE="/etc/nginx/sites-enabled/evok"
NGINX_ENABLED_DIR="/etc/nginx/sites-enabled/"
NGINX_ENABLED_FILES=/etc/nginx/sites-enabled/*

echo $@

detect_nginx_conflict() {

    db_reset evok/nginx_conflict_files

    if [ -d "$NGINX_ENABLED_DIR" ]; then # Nginx is probably already installed

        echo "Nginx has been already installed" 1>&2

        for C_FILE in $NGINX_ENABLED_FILES; do

            # Skip the confile of myself
            if [ "$C_FILE" = "$DEFAULT_EVOK_SITE" ]; then
                continue
            fi
            # Skip Mervis (conflict resolved via systemd service)
            if [ "$C_FILE" = "$DEFAULT_MERVIS_SITE" ]; then
                continue
            fi

            # Look for an uncommented listen statement in each file
            if grep -qxe "[[:space:]]\+listen 80\([[:space:];].*\)\?" $C_FILE; then
                # Store path of the conflict file to the db
		db_set evok/nginx_conflict_files $C_FILE
                return 0 #return 0 # Positive result -> conflict was found
            fi
        done
    fi

    return 1 # Negative result -> no conflict found
}

validate_port_number() {
    if [ "$1" -lt "65535" ] 2>/dev/null  && [ "$1" -gt "1" ] 2>/dev/null; then
        return 1 # It is OK
    else
        return 0
    fi
}

if detect_nginx_conflict; then

    db_get evok/nginx_as_dependency
    if [ "$RET" = true ] ; then
       db_set evok/http_conflict "replace"
       db_set evok/http_conflict_makesure "true"
       echo "Nginx was installed as dependency..." 1>&2
       return 0
    fi

    db_get evok/nginx_conflict_files
    db_subst evok/http_conflict "site" "$RET"
    db_input high evok/http_conflict || true
    db_go || true
    db_get evok/http_conflict || true

    case "$RET" in
      *replace*)
          db_input high evok/http_conflict_makesure || true
          db_go || true
          ;;
      *another*)
          while true; do
              db_input high evok/control_website_port || true
              db_go || true
              db_get evok/control_website_port || true
              validate_port_number "$RET" || break
              db_input high evok/err_invalidport
          done
          ;;
      *)
          ;;
    esac
fi

exit
