#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

#ARCH = $(shell dpkg-architecture -q DEB_BUILD_ARCH)
export DH_VIRTUALENV_INSTALL_ROOT=/opt
export DH_VIRTUALENV_ARGUMENTS
export DH_VERBOSE=1
export PYBUILD_NAME=evok
#export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/packagename/

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#%:
#	dh $@ --with python-virtualenv

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --no-package evok-web
	sed 's#/opt/evok/bin/python#debian/evok/opt/evok/bin/python#' -i debian/evok/opt/evok/bin/pip3
	debian/evok/opt/evok/bin/pip3 uninstall -y setuptools wheel pip

#	dh_virtualenv --extra-virtualenv-arg=--no-pip --pip-tool=/usr/bin/pip3
#	dh_virtualenv --extra-virtualenv-arg=--no-pip --pip-tool=/usr/bin/pip3

#override_dh_installinit:
#	dh_installinit --no-start

#override_dh_installsystemd:
#	dh_installsystemd --no-start

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

#override_dh_systemd_enable:
#	dh_systemd_enable neurontcp.service
#	dh_systemd_enable neuronhost.service

#override_dh_shlibdeps:
#	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
