[Unit]
Description=Evok Modbus/Websocket/Rpc Server
Requires=pigpio.service
Requires=neurontcp.service

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/evok/evok.py --path1=/etc/evok.conf --path2=/etc/evok-neuron.conf
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=evok

WorkingDirectory=/opt/evok

#User=evok
#Group=evok

Restart=always

[Install]
WantedBy=multi-user.target
Alias=evok.service
