[Unit]
Description=Evok Modbus/Websocket/Rpc Server
Requires=pigpio.service
Requires=neurontcp.service
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/evok/evok.py
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=evok
StandardOutput=null
WorkingDirectory=/opt/evok

#User=evok
#Group=evok

Restart=always

[Install]
WantedBy=multi-user.target
#Alias=evok.service
