[Unit]
Description=Pigpio GPIO daemon
Before=evok.service

[Service]
Type=forking
EnvironmentFile=-/etc/default/pigpio
ExecStart=/usr/local/bin/pigpiod $PIGPIO_OPTS
TimeoutStopSec=3
PIDFile=/run/pigpio.pid

#User=root
#Group=root

Restart=always

[Install]
WantedBy=multi-user.target
#Alias=pigpio.service
