[Unit]
Description=DNS/DHCP for UniPi configuration
BindsTo=unipiap.service
After=unipiap.service

[Service]
Type=simple
ExecStartPre=/sbin/ifup -i /opt/unipiap/etc/interfaces wlan0
ExecStart=/usr/sbin/dnsmasq -k -C /opt/unipiap/etc/dnsmasq.conf
#StandardOutput=null
#Restart=on-failure

[Install]
WantedBy=unipiap.target
