[Unit]
Description=Hostapd for UniPi configuration
#Requires=


[Service]
Type=simple
ExecStartPre=/opt/unipiap/bin/startpre
ExecStart=/usr/sbin/hostapd /opt/unipiap/etc/hostapd.conf
ExecStopPost=/opt/unipiap/bin/stoppost

#StandardOutput=null
#Restart=on-failure

[Install]
WantedBy=unipiap.target
